.faqs_section {
  margin: 0px;
}

.faq_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  padding: 50px 0 64px 0;
}

/* -------------- */

.line {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 116px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* ---------------------- */

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.panels {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.faqs_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.faqs_desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
